.main{
    padding: 20px;
}
.formData{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;
}

.formData_elem{
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formData_elem input{
    width: 100%;
    outline: none;
    height: 30px;
    padding: 0 10px;
}

button{
    width: 200px;
    height: 40px;
    outline: none;
    cursor: pointer;
    margin-top: 40px;
}